<section> 
<div class="pagelinks">
    <li><%= link_to "Home",   root_path %></li>
    <li><%= link_to "Photography",   'photography' %></li>
    <li><%= link_to "About Me",   'aboutme' %></li>
    <li><%= link_to "Education",   'education' %></li>
    <li><%= link_to "Yoga",   'yoga' %></li>
    <li><%= link_to "Contact",   'contacts' %></li>
    
  </div>
</section>