
  <div class="pic_content">
  <div class="pic">

  <%= image_tag("selfie.jpg", :alt => "Moi selfie") %>

  <div class="pic_message">

This is an inception selfie ;)
  </div>
 </div>

 </div>



  <div class="pic_content">
  <div class="pic">

  <%= image_tag("baby.jpg", :alt => "Baby Shoot") %>

  <div class="pic_message">

A friend`s new born baby. This is one of my favorites from shots:)
  </div>
 </div>

 </div>

  <div class="pic_content">
  <div class="pic">

  <%= image_tag("nimit.jpg", :alt => "nimit wedding") %>

  <div class="pic_message">

@friends wedding
  </div>
 </div>

 </div>

<div class="pic_content">
  <div class="pic">

  <%= image_tag("charminar.jpg", :alt => "charminar") %>

  <div class="pic_message">

Moon n Minar
  </div>
 </div>

 </div>

 <div class="pic_content">
  <div class="pic">

  <%= image_tag("cows.jpg", :alt => "cows") %>

  <div class="pic_message">


  </div>
 </div>

 </div>

<div class="pic_content">
  <div class="pic">

  <%= image_tag("collage.jpg", :alt => "nimit wedding") %>

  <div class="pic_message">

I had a short stint as a proffessional photographer. Here is Collage of some of the pics I shot.
  </div>
 </div>

 </div>
